@model IEnumerable<SpotifyPrototype.Application.Streaming.Dto.AlbumDto>

<div class="text-center">
    <h1 class="display-4">Albums</h1>
    @if (ViewBag.AutorNome != null)
    {
        <h6><strong>Author:</strong> @ViewBag.AutorNome</h6>
    }
</div>

@if (ViewBag.IdAutor != null)
{
    <div>
        <a type="button" role="button" class="btn btn-primary" href="/Album/Create?IdAuthor=@ViewBag.IdAutor"><strong>Create album</strong></a>
    </div>
}

<div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Songs</strong></td>
                <td><strong>Cover</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.MusicasTexto</td>
                    <td>
                        @if (@item.Capa != null)
                        {
                            <img src="@(item.Capa)" width="200" height="200" />
                        }
                    </td>
                    <td><a type="button" role="button" class="btn btn-primary" href="/Album/AdicionarMusica?AlbumId=@item.Id"><strong>Add song</strong></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
